body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbf9fb;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  

  #form {
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-top: 50em;
    margin-bottom: 20cm;
    
  }
 
  #form button { 
    background: #3f09f0;
    color: #FFF;
   
  }

  #form button:hover {
    background: #5588df;
  }
  
  .container {
    padding: 20rem;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }